export(AGRdiff,
       anom,
       anomPlot,
       args4chosen_plot,
       args4chosen_smooth,
       args4meddevn_plot,
       args4profile_plot,
       args4smoothing,
       as.smooths.frame, 
       byIndv_ValueCalc,
       byIndv4Intvl_GRsAvg, 
       byIndv4Intvl_GRsDiff,
       byIndv4Intvl_ValueCalc,
       byIndv4Intvl_WaterUse,
       byIndv4Times_GRsDiff, 
       byIndv4Times_SplinesGRs, 
       calcLagged,
       calcTimes,
       corrPlot,
       cumulate,
       designFactors,
       fitSpline,
       getDates,
       getTimesSubset,
       imagetimesPlot,
       importExcel,
       intervalGRaverage,
       intervalGRdiff,
       intervalPVA,
       intervalPVA.data.frame,
       intervalValueCalculate,
       intervalWUI,
       is.smooths.frame,
       longitudinalPrime,
       longiPlot,
       PGR,
       plotAnom,
       plotCorrmatrix,
       plotDeviationsBoxes,
       plotImagetimes,
       plotLongitudinal,
       plotMedianDeviations, 
       plotProfiles, 
       prepImageData,
       probeDF,
       probeSmoothing,
       probeSmooths,
       plotSmoothsComparison,
       plotSmoothsMedianDevns,
       PVA,
       PVA.data.frame,
       PVA.matrix,
       rcontrib,
       rcontrib.data.frame,
       rcontrib.matrix,
       RGRdiff,
       smoothSpline,
       splitContGRdiff,
       splitSplines,
       splitValueCalculate,
       traitExtractFeatures, 
       traitSmooth,
       twoLevelOpcreate,
       validSmoothsFrame,
       WUI)
import(dae, ggplot2, readxl, RColorBrewer)
importFrom(GGally, ggpairs, putPlot)
importFrom(grDevices, boxplot.stats)
importFrom(Hmisc, rcorr)
importFrom(JOPS, bbase, psNormal)
importFrom(methods, setOldClass, formalArgs)
importFrom(reshape, melt)
importFrom(stats, smooth.spline, IQR, median, weighted.mean)
importFrom(stats, terms)
importFrom(stats, as.formula)
importFrom(stats, na.omit)
importFrom(stats, predict)
importFrom(stats, reshape)
importFrom(stringi, stri_order)
importFrom(utils, read.csv, tail, modifyList)
S3method(intervalPVA, data.frame)
S3method(PVA, data.frame)
S3method(PVA, matrix)
S3method(rcontrib, data.frame)
S3method(rcontrib, matrix)